@page "/clientes/crear"
@using MiAlmacen.Blazor.Services
@using MiAlmacen.Model.Models
@inject NavigationManager NavigationManager
@inject IClienteService ClienteService
@inject IJSRuntime JS

<div class="d-flex justify-content-between mb-3">
    <div>
        <h3><b>Nuevo cliente</b></h3>
    </div>
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Volver al listado
        </button>
    </div>
</div>

<FormCliente cliente="@cliente" TextBotonSubmit="Crear cliente" OnValidSubmit="@CrearClient" OcultaAlta=true />

@code {
    public ClienteModel cliente = new ClienteModel();

    async Task CrearClient()
    {
        var respuesta = await ClienteService.Alta(cliente);

        if (respuesta != null)
        {
            NavigationManager.NavigateTo("/clientes");
            await JS.InvokeVoidAsync("simple", "¡Éxito!", "Cliente creado", "success");
        }
        else
            await JS.InvokeVoidAsync("simple", "Error", $"No se pudo crear cliente.", "error");
    }

    private void Volver()
    {
        NavigationManager.NavigateTo("/clientes");
    }
}
