@page "/clientes/editar/{idCliente:int}"
@inject NavigationManager NavigationManager
@inject ClienteService ClienteService
@inject UsuarioService UsuarioService  
@inject IJSRuntime JS


<div class="d-flex justify-content-between mb-3">
    <h3><b>Editar cliente</b></h3>
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Volver al listado
        </button>
    </div>
</div>

<FormCliente cliente="@cliente" OnValidSubmit="@EditarClient" TextBotonSubmit="Guardar cambios" OcultaAlta=false/>

@code {
    public ClienteModel cliente = new ClienteModel();
    [Parameter] public int idCliente { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var result = await UsuarioService.GetSesion();
        if (result == null)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            cliente = await ClienteService.GetUnCliente(idCliente);
        }
    }

    async Task EditarClient()
    {
        var respuesta = await ClienteService.Editar(cliente);

        if (respuesta != null)
        {
            NavigationManager.NavigateTo("/clientes");
            await JS.InvokeVoidAsync("simple", "¡Éxito!", $"Cliente {respuesta.Nombre} actualizado con éxito!", "success");
        }
        else
            await JS.InvokeVoidAsync("simple", "Error", $"No se pudo actualizar el cliente.", "error");
    }

    private void Volver()
    {
        NavigationManager.NavigateTo("/clientes");
    }
}
