@page "/clientes/editar/{idCliente:int}"
@using MiAlmacen.Blazor.Services
@using MiAlmacen.Model.Models
@inject NavigationManager NavigationManager
@inject IClienteService ClienteService


<div class="d-flex justify-content-between mb-3">
    <h3><b>Editar cliente</b></h3>
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Volver al listado
        </button>
    </div>
</div>

<FormCliente cliente="cliente" OnValidSubmit="@EditarClient" TextBotonSubmit="Guardar cambios" />

@code {
    public ClienteModel cliente = new ClienteModel();
    [Parameter] public int idCliente { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        cliente = await ClienteService.GetUnCliente(idCliente);
    }

    async Task EditarClient()
    {
        await ClienteService.Editar(cliente);
    }

    private void Volver()
    {
        NavigationManager.NavigateTo("/clientes");
    }
}
