@page "/proveedores/crear"
@inject NavigationManager NavigationManager
@inject ProveedorService ProveedorService
@inject UsuarioService UsuarioService
@inject IJSRuntime JS

<div class="d-flex justify-content-between mb-3">
    <div>
        <h3><b>Nuevo proveedor</b></h3>
    </div>
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Volver al listado
        </button>
    </div>
</div>

<div class="card m-1">
    <div class="card-body">
        <FormProveedor proveedor="@proveedor" TextBotonSubmit="Crear proveedor" OnValidSubmit="@CrearProv" OcultaAlta=true />
    </div>
</div>

@code {
    public ProveedorModel proveedor = new ProveedorModel();

    protected override async Task OnInitializedAsync()
    {
        var result = await UsuarioService.GetSesion();
        if (result == null)
        {
            NavigationManager.NavigateTo("/");
        }
    }

    async Task CrearProv()
    {
        var respuesta = await ProveedorService.Alta(proveedor);

        if (respuesta.IsSuccessStatusCode)
        {
            var content = await respuesta.Content.ReadAsStringAsync();
            var objDeserealizado = JsonConvert.DeserializeObject<ProveedorModel>(content);
            NavigationManager.NavigateTo("/proveedores");
            await JS.InvokeVoidAsync("simple", "¡Éxito!", $"El proveedor {objDeserealizado.Nombre} fue creado con éxito.", "success");
        }
        else
            await JS.InvokeVoidAsync("simple", "Error", $"Error {((decimal)respuesta.StatusCode)}. No se pudo crear proveedor.", "error");
    }

    private void Volver()
    {
        NavigationManager.NavigateTo("/proveedores");
    }
}
