@inject NavigationManager NavigationManager
@inject SalidaDineroService SalidaDineroService
@inject IJSRuntime JS

<div class="d-flex justify-content-between mb-3">
    <div>
        <h3><b>Registrar Salida de Dinero</b></h3>
    </div>
</div>

<FormSalida salida="@salida" />

@code {
    public SalidasDineroModel salida = new SalidasDineroModel();

}