@inherits LayoutComponentBase
@inject UsuarioService UsuarioService
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <button class="btn btn-danger" @onclick="Logout"> Cerrar Sesión</button>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    private async void Logout()
    {
        await UsuarioService.Logout();
        NavigationManager.NavigateTo("/login");
    }
}