<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="#" style="color:lavender">
        <img src="ico.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <b>Mi Almacen</b>
    </a>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="home">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="caja">
                <span class="oi oi-dollar" aria-hidden="true"></span> Caja
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="estadisticas">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Estadisticas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="clientes">
                <span class="oi oi-person" aria-hidden="true"></span> Clientes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="proveedores">
                <span class="oi oi-flag" aria-hidden="true"></span> Proveedores
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="articulos">
                <span class="oi oi-tag" aria-hidden="true"></span> Productos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ventas">
                <span class="oi oi-cart" aria-hidden="true"></span> Ventas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="compras">
                <span class="oi oi-task" aria-hidden="true"></span> Compras
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="getcajas">
                <span class="oi oi-excerpt" aria-hidden="true"></span> Historial Cajas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="movimientos">
                <span class="oi oi-loop-square" aria-hidden="true"></span> Movimientos
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
