@page "/"
@inject IJSRuntime JS

<div class="site-wrapper overflow-hidden position-relatived">
    <!--Header-->
    <header class="site-header site-header--menu-left landing-11-menu site-header--absolute site-header--sticky">
        <div class="container">
            <nav class="navbar site-navbar">
                <!--Logo-->
                <div class="brand-logo mr-1">
                    <a href="#">
                        <img src="ico.png" width="90" height="70" alt="" class="default-logo">
                    </a>
                </div>
                <div class="menu-block-wrapper">
                    <div class="menu-overlay"></div>
                    <nav class="menu-block" id="append-menu-header">
                        <div class="mobile-menu-head">
                            <div class="go-back">
                                <i class="fa fa-angle-left"></i>
                            </div>
                            <div class="current-menu-title"></div>
                            <div class="mobile-menu-close">&times;</div>
                        </div>
                        <ul class="site-menu-main">
                            <li class="nav-item">
                                <a onclick="window.location.href='#objetivo'" style="cursor:pointer" class="nav-link-item">Nuestro Objetivo</a>
                            </li>
                            <li class="nav-item">
                                <a onclick="window.location.href='#acercade'" style="cursor:pointer" class="nav-link-item">Acerca del Programa</a>
                            </li>
                            <li class="nav-item">
                                <a onclick="window.location.href='#elegirnos'" style="cursor:pointer" class="nav-link-item">¿Por qué elegirnos?</a>
                            </li>
                            <li class="nav-item">
                                <a onclick="window.location.href='#nosotros'" style="cursor:pointer" class="nav-link-item">Nosotros</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/tomasmalvissi/TesisAlmacen" class="nav-link-item">Código Fuente</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-btns header-btn-l11 ms-auto d-none d-xs-inline-flex align-items-center">
                    <button @onclick="LevantaModal" class="btn btn-primary" href="#">
                        Iniciá Sesión
                    </button>
                </div>
                <!-- mobile menu trigger -->
                <div class="mobile-menu-trigger">
                    <span></span>
                </div>
                <!--/.Mobile Menu Hamburger Ends-->
            </nav>
        </div>
    </header>

    <!-- Termina NavBar- -->
    <!-- Area Principal -->
    <div class="hero-area-l11 position-relative z-index-1 overflow-hidden">
        <div class="container position-relative">
            <div class="row position-relative justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-12 order-lg-1 order-1" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
                    <div class="content">
                        <h1>Mi Almacen Web:<br class="d-none d-md-block"> Administrá tu negocio ahora.</h1>
                        <div class="row banner-l-11-bottom-content">
                            <div class="col-lg-8 col-md-8 col-sm-10">
                                <p class="position-relative banner-main-content-l-11">
                                    Empezá a usar nuestro Sistema de Gestión y descubrí todos los beneficios que ofrecemos.
                                    <span class="line-left-content"></span>
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6 flex-y-center ">
                                <a class="btn btn-secondary" href="/usuarios/registrar">Registrate y comenzá a usarlo.</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 order-lg-1 order-0" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
                    <img src="landing/image/l2/laptop-screen.png" alt="" class="w-100 hero-l11-main-image">
                </div>
            </div>
        </div>
        <div class="hero-shape-l11-1 d-none d-md-block">
            <img src="landing/image/l2/hero-shape-1.svg" alt="">
        </div>
        <div class="hero-shape-l11-2 d-none d-md-block">
            <img src="landing/image/l2/hero-shape-2.png" alt="">
        </div>
    </div>

    <!-- Area Objetivos -->
    <div class="content-area-l-11-1" id="objetivo">
        <div class="container">
            <div class="row align-items-center justify-content-lg-start justify-content-center">
                <div class="col-xl-6 col-md-5 col-md-10" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                    <div class="content-img position-relative z-index-1">
                        <img src="landing/image/l2/content-img1.png" alt="" class="w-100">
                    </div>
                </div>
                <div class="offset-xxl-1 col-xxl-5 col-xl-6 col-lg-7 col-md-9" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                    <div class="content section-heading-5">
                        <h2>
                            Hacé crecer tu negocio.
                        </h2>
                        <p>Potenciá tus ventas con nuestro Sistema de Gestión, teniendo un control de tus productos, clientes, proveedores y más.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Area Acerca De  -->
    <div class="content-area-l-11-2" id="acercade">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between justify-content-center">
                <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-9 order-lg-1 order-1" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                    <div class="content section-heading-5">
                        <h2>
                            Todo bajo control.
                        </h2>
                        <div class="d-flex content-l-11-3-card">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="27" viewBox="0 0 32 27">
                                <g>
                                    <g>
                                        <g>
                                            <path class="mypath1" fill="none" stroke="#258aff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M25.528 25.615v0h5.47v0-5.911c0-.56-.341-1.062-.86-1.27l-5.118-2.05a1.367 1.367 0 0 1-.86-1.267v-1.2a5.445 5.445 0 0 0 2.735-4.711V6.471a5.47 5.47 0 0 0-8.205-4.738">
                                            </path>
                                        </g>
                                        <g>
                                            <path class="mypath1" fill="none" stroke="#258aff" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="20" stroke-width="2" d="M19.367 19.846l-5.14-2.036a1.358 1.358 0 0 1-.864-1.257v-1.192a5.394 5.394 0 0 0 2.747-4.676V7.97c0-2.999-2.46-5.43-5.495-5.43-3.034 0-5.494 2.431-5.494 5.43v2.715a5.394 5.394 0 0 0 2.747 4.676v1.192c0 .555-.342 1.054-.864 1.26l-5.14 2.036c-.52.206-.863.703-.864 1.257v4.51h19.23v0-4.51c0-.555-.342-1.054-.863-1.26z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            <div class="content-body">
                                <h5>Efectivo:</h5>
                                <p>Sacá el máximo provecho con la sección de estadísticas.</p>
                            </div>
                        </div>
                        <div class="d-flex content-l-11-3-card">
                            <img src="landing/image/l2/settings.svg" alt="icon">
                            <div class="content-body">
                                <h5>Simple y seguro:</h5>
                                <p>Mantené todo el control del flujo de dinero en un solo lugar.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 offset-xxl-2 col-xl-6 col-lg-5 col-md-9 order-lg-1 order-0" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                    <div class="content-img">
                        <img src="landing/image/l2/content-img2.png" alt="" class="w-lg-auto w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Area Descripcion -->
    <div class="feature-l-11" id="elegirnos">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-9 px-lg-12 col-md-12">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 text-center">
                            <div class="section-heading-5">
                                <h2>
                                    Un Software, Todas las soluciones.
                                </h2>
                                <p>Diseñamos este Sistema para cubrir los puntos débiles de tu negocio. </p>
                            </div>
                        </div>
                    </div>
                    <div class="row feature-l-11-items justify-content-center">
                        <div class="col-md-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
                            <div class="d-flex ">
                                <div class="icon-box">
                                    <i class="icon icon-pen-01"></i>
                                </div>
                                <div class="content-body">
                                    <h5>Fácil de Usar</h5>
                                    <p>La interfaz otorga una experiencia de usuario agradable gracias al diseño moderno.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                            <div class="d-flex ">
                                <div class="icon-box">
                                    <i class="icon icon-layers-3"></i>
                                </div>
                                <div class="content-body">
                                    <h5>Sin limitaciones</h5>
                                    <p>Aseguramos alta velocidad de respuesta sin importar la cantidad de datos que posea el Sistema. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
                            <div class="d-flex ">
                                <div class="icon-box">
                                    <i class="icon icon-office"></i>
                                </div>
                                <div class="content-body">
                                    <h5>Seguridad</h5>
                                    <p>Utilizamos tecnología de último nivel, garantizando la seguridad de tus datos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true">
                            <div class="d-flex ">
                                <div class="icon-box">
                                    <i class="icon icon-settings-gear-64-2"></i>
                                </div>
                                <div class="content-body">
                                    <h5>Sin instalación</h5>
                                    <p>Nuestro Sistema es una plataforma Web, por lo que podrás acceder de cualquier dispositivo con conexión a internet.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Seccion Comentarios -->
    <div class="testimonial-area-l-11" id="nosotros">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9" data-aos="fade-down" data-aos-duration="800" data-aos-once="true">
                    <div class="section-heading-5 text-center">
                        <h2>
                            Egresados del Instituto Técnico Superior Córdoba
                        </h2>
                        <p>
                            Desarrollamos esta aplicación para la materia Práctica Profesionalizante II,
                            de la Técnicatura Superior en Desarrollo de Software.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <p>
                        <span class="d-inline-block quote-size-1"></span>“Fue un placer y orgullo poder realizar este trabajo
                        aplicando las tecnologías que aprendí en el instituto. Miro el resultado y me siento muy contento con lo alcanzado.”
                    </p>
                    <div class="d-flex user-details align-items-center">
                        <div class="user-identity">
                            <b style="color: black">Tomás Malvissi</b>
                            <p style="color: black; font-size: small">Desarrollador</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <p>
                        <span class="d-inline-block quote-size-1"></span> “Durante estos tres años incorporamos muchos conocimientos
                        que hoy se ven plasmados en este proyecto que cada día intentamos mejorar.”
                    </p>
                    <div class="d-flex user-details align-items-center">
                        <div class="user-identity">
                            <b style="color: black">Mauricio Gaggero</b>                            
                            <p style="color: black; font-size: small">Desarrollador</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer-l-11 text-center text-md-start">
        <div class="copyright-area-l-11">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p>© 2021. Todos los derechos reservados a Tomás Malvissi y Mauricio Gaggero. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

@code {

    void LevantaModal()
    {
        JS.InvokeVoidAsync("levantaModal", "#modal-login");
    }
}