@page "/ventas/crear"
@inject NavigationManager NavigationManager
@inject VentaService VentaService
@inject UsuarioService UsuarioService 
@inject CajaService CajaService
@inject IJSRuntime JS

<div class="d-flex justify-content-between mb-3">
    <div>
        <h3><b>Nueva venta</b></h3>
    </div>
    <div>
        <button @onclick="@Volver" class="btn btn-sm btn-secondary">
            <i class="oi oi-arrow-circle-left"></i> Volver al listado
        </button>
    </div>
</div>

<FormVenta></FormVenta>

@code {
    public VentaModel venta = new VentaModel();
    private CajaModel caja { get; set; }
    private UsuarioModel UsuarioLogueado { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var UsuarioLogueado = await UsuarioService.GetSesion();
        if (UsuarioLogueado == null)
        {
            NavigationManager.NavigateTo("/");
        }

        caja = await CajaService.GetUltimo(UsuarioLogueado.Id);

        if (caja.Fecha.Date != DateTime.Now.Date || caja.FechaCierre != null)
        {
            NavigationManager.NavigateTo("/caja/abrir");
        }
    }

    private void Volver()
    {
        NavigationManager.NavigateTo("/ventas");
    }
}