@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #263E57;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #254A71;
    border-color: #254A71;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #1C3754;
        border-color: #1C3754;
    }

.btn-secondary {
    color: #fff;
    background-color: #B6374A;
    border-color: #B6374A;
}

    .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
        color: #fff;
        background-color: #872937;
        border-color: #872937;
    }

h1, h2, h3, h4, h5, h6 {
    color: #B6374A;
}

.table, .modal-body table {
    color: #263E57;
}

    .table thead, .modal-body table thead {
        background-color: #335171;
        color: white;
    }

    .table td, .modal-body table td {
        text-align: center;
        vertical-align: middle;
    }

.table-hover tbody tr:hover, .modal-body .table-hover tbody tr:hover {
    background-color: rgb(182,55,74,0.2);
    color: #B6374A;
}

.modal-header, .modal-header h1, .modal-header h1
.modal-header h2, .modal-header h3, .modal-header h4, .modal-header h5,
.modal-header h6 {
    background-color: white;
    color: #B6374A;
}

    .modal-header .close {
        color: #B6374A;
    }

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
    font-weight: bold
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
